// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$dark-gray: #A9A9A9;
$light-gray: #F4F4F4;
$medium-gray:   #D8D8D8;
$theme-dark: #add8e6;
$theme-light: #C9EBF5;
$theme-background: #F4F4F4;
//$theme-background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
$theme-foreground: white;


// For example:
$theme-blue: #469AE0;
$theme-blue-light: #469AE0;
