<div class="card" style="height: 80px">




  <div style="margin: 0; font-size: 12px; position: absolute; width: 100%; height: 80px;">
   <%= duty.title %>
  <%= duty.clinic.full_name %>
   <a class="card-link" href=<%= "duties/#{duty.id}" %>></a>
  </div>

</div>
