<div class="main-wrapper">
  <div class="top-wrapper">
    <%= render 'shared/topbar' %>
  </div>

  <%= render 'shared/flashes' %>


  <div class="page-wrapper">
    <div class="menus-page-wrapper">
      <%= render 'shared/menusbar' %>
    </div>

    <div class="content-page-wrapper">
        <div class="content-wrapper">
        <div class="grid">
          <div class="row">
            <div class="col-xs-2 grid-cell-theme-icons text-right" style="justify-content: flex-end">
              <i class="fas fa-angle-left text-right"></i>
              <p>Mois précédents</p>
            </div>
            <div class="col-xs-8 grid-cell-theme">
              <div class="noflex">
                <h5>Gardes</h5>
                <h5 style=" font-size: 20px">Octobre 2018</h5>
              </div>
            </div>
            <div class="col-xs-2 grid-cell-theme-icons" style="justify-content: flex-start">
              <p>Mois suivants</p>
              <i class="fas fa-angle-right "></i>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <% @duties.each do |duty| %>
                <%= render 'duties/duty', duty: duty %>
              <% end %>
            </div>
            <div class="col-xs-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
