<div class="grid-row-header">
  <div class="grid">
    <div class="row">
      <div class="col-xs-2 grid-cell-theme-icons text-right" style="justify-content: flex-end">
        <i class="fas fa-angle-left text-right"></i>
          <%= link_to "Retour", duty_path(@duty), style:"font-size: 16px; margin-left: 10px;" %>
      </div>
      <div class="col-xs-10 grid-cell-header">
        <%= "Consultation du #{@consultation.created_at.strftime("%d/%m/%Y")} (Garde : #{@consultation.duty.clinic.full_name})"  %>
      </div>
    </div>
  </div>
</div>
