<div class="card-bio">
  <div class="header">

    <div class="title">
      <h4><%= pet.full_name %></h4>
      <h5><%= pet.email %></h5>
    </div>

    <div class="avatar">
      <%= render 'shared/avatar', profile: pet %>
    </div>

    <div class="role">
      <%= pet.role.upcase %>
    </div>
  </div>



  <div class="content">
    <h6>Adresse</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis excepturi magni reprehenderit quas debitis voluptates magnam, asperiores id ad officiis maiores voluptatem modi, eos et, aperiam omnis doloribus ipsa! Tempora!</p>
  </div>
</div>



