

 <div class="dashboard-page-wrapper">

  <div class="dashboard-menus-wrapper">
    <%= render "consultations/menu" %>
  </div>

  <div class="dashboard-content-wrapper">
    <%= render 'consultations/form', garde: @garde, consultation: @consultation %>
  </div>
</div>

