.main-wrapper{
}


// TOP-WRAPPER
.top-wrapper {
  display: flex;
}

.top-wrapper .left-wrapper{
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $theme-dark;
}

.top-wrapper .right-wrapper{
  width: calc(100vw - 140px);
  text-align: right;
}


// PAGE-WRAPPER
.page-wrapper{
  display: flex;
  height: calc(100vh - 70px);
}

.menus-page-wrapper {
  height: 100%;
  width: 140px;
  display: flex;
  justify-content: space-around;
}

.content-page-wrapper {
  width: calc(100vw - 140px);
  display: flex;
  padding: 10px;
}


// CONTENT-PAGE-WRAPPER
.content-page-wrapper .content-header {
  height: 40px;

}

.content-page-wrapper .content-wrapper{
  //width: calc(100vw - 230px);
  width: 100%;
  max-height: calc(100vh - 120px);
  overflow: scroll;
  padding-top: 10px;
}

.content-page-wrapper .left-content-wrapper {
  //width: 500px;
  height: 100%;
  flex: 0 0 30%;
  overflow: scroll;
  //height: calc(100vh - 170px);
  padding: 10px;
}

.content-page-wrapper .right-content-wrapper {
  //width: calc(100vw - 300px);
  height: 100%;
  flex: 0 0 70%;
  //width: 100px;
  //height: calc(100vh - 170px);
  //overflow: scroll;
  padding: 10px;
}

.content-page-wrapper .right-content-wrapper .header {
  height: 40px;
 margin-bottom: 10px;
}


.content-page-wrapper .right-content-wrapper .content{
  height: calc(100vh - 110px);
}

