<div class="menusbar-wrapper">

  <div class="menusbar-title-wrapper">
  </div>

    <div class="menusbar-menus-group">

      <div class="menu-item">
        <ul>
          <li><i class="fas fa-rss-square"></i></li>
          <li><%= link_to "Actualités", events_path, class:"menusbar-menu" %></li>
        </ul>
      </div>


      <div class="menu-item">
        <ul>
          <li><i class="far fa-building"></i></li>
           <%= link_to "Mes Gardes", duties_path, class:"menusbar-menu"%>
        </ul>
      </div>
    </div>
</div>
