    <div class="left-container">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", height: 30 %>
        <% end %>
        <div>Sos-Veto</div>
      </div>

      <div class="right-container">
        <%= render 'shared/navbar' %>
      </div>
