<div class="main-wrapper">
  <div class="top-wrapper">
    <%= render 'shared/topbar' %>
  </div>

  <div class="page-wrapper">

    <div class="menus-page-wrapper">
      <%= render 'shared/menusbar' %>
    </div>

    <div class="content-page-wrapper">
      <div class="content-content-wrapper">
        <% @events.each do |event| %>
          <div class="card">
            <h4><%= event.title %></h4>
            <p><%= event.content %></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, facilis, repudiandae. Necessitatibus, magni quod ab rerum labore veritatis dicta iure eius nostrum. Quos, molestias, unde? Molestiae sit deserunt omnis, sint!</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
