.container-form {
  margin-bottom: 50px;
  border-width: 3px;
  font-size: 12px;

  h2 {
    font-size: 18px;
    font-weight: bold;
  }
}


.form-label {
  padding: 0px;
  height: 100%;
  align-item: center;
}


.form-control {
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
}

.form-control-xs {
  height: 30px;
  border-radius: 10px;
}

.form-label-xs {
  padding: 5px 0 0 0;
}

.from-control-lg {
  height: 60px;
  border-radius: 30px;
}

//Boutton form

.btn-form-sm {
  width: 60px;
  height: 20px;
  padding: 2px;
  font-size: 10px;
}

.btn-form-lg {
  width: 80px;
  height: 30px;
  margin-right: 20px;
  padding: 4px;
  font-size: 12px;
}


.form-row {
  margin-bottom: 5px;
}

.form-tabs {
  margin: 5px;
}

.form-tab-content {
  padding: 10px;
  border-top-color: transparent;
  min-height: 300px;

}


// Form custom with icon and input
.form-app-control-wrapper{
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color:   rgba(220,220,220,0.6);
  border-radius: 25px;
  display: flex;

  .form-control {
    border-style: none;
    background: transparent;
    box-shadow: none;
    height: 40px;
    margin:0;
    width: 100%;
  }

  .form-app-control-icon {
    padding: 0 5px;
    width: 60px;
    display: flex;
    align-items: center;
  }

  .form-app-control-input{
    border-style: none;
    height: 40px;
    margin:0;
    width: 100%;
    font-size: 12px;
  }

  .form-app-control-btns{
    width: 100%;
  }
}

.form-app-control-wrapper.no-background {
  background: transparent !important;
}


