// container for all grids
.grid {
}

.row {
   margin: 0px ;
   align-items: center;
}

// header
.grid-row-header {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
  background: $theme-dark;

}

// header action
.grid-row-actions {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;


  p {
    text-align: right;
    padding-top: 15px;
    font-size: 10px;
  }
}

// container to display rows
.grid-rows {
  height: 50vh;
  padding: Opx;
  margin:0px;
  overflow: scroll;
}


// row
.grid-row {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(rgba(244, 244, 244,0.6), rgba(244, 244, 244,0.3));
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  //box-shadow: 2px 2px 2px 1px grey;
}

.grid-row h5{
  font-size: 12px;
  margin: 0px;
}

.grid-row p{
  font-size: 12px;
  margin: 0px;
  font-weight: lighter;
  overflow: none;
}

// Buttons
.grid-btns

  .md-btn {
  //width: 60px;
  //height: 20px;
  padding: 10px;
  font-size: 10px;
}


