// container for all grids
.grid {
  margin-top: 20px;
  padding: 0 20px;
}


// header
.grid-row-header {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: $gray;
}

// container to display rows
.grid-rows {
  height: 50vh;
  padding: Opx;
  margin:0px;
  overflow: scroll;
}


// row
.grid-row {
  display: flex;
  align-items: center;
  height: 30px;
  background: linear-gradient(rgba(244, 244, 244,0.6), rgba(244, 244, 244,0.3));
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 1px grey;
}

.grid-row h5{
  font-size: 10px;
  margin: 0px;
}

.grid-row p{
  font-size: 10px;
  margin: 0px;
  font-weight: lighter;
  overflow: none;
}

// Buttons
.btn-grid-sm {
  width: 60px;
  height: 20px;
  padding: 2px;
  font-size: 10px;
}


