<div class="main-wrapper">
  <div class="top-wrapper">
    <%= render 'shared/topbar' %>
  </div>

  <div class="page-wrapper">
    <div class="menus-page-wrapper">
      <%= render 'shared/menusbar' %>
    </div>

    <div class="content-page-wrapper">
      <div class="left-content-wrapper">
        <%= render "profile/show/bio" %>
      <div>
      <div class="right-content-wrapper">
        <%= render "profile/show/tabs" %>
      </div>
    </div>
  </div>
</div>
